body{
  font-family: 'Comfortaa', sans-serif;
}
:root{
  --color1: #05b1b1;
  --color2: #52339a;
}
header, footer{
  padding: 100px 0;
}
header{
  padding: 60px 0;
}
header, footer{
  background: linear-gradient(to right,  var(--color1) 0%,var(--color2) 100%);
  background-size: contain;
}
section {
  padding: 80px 0;
}
.razrab{
  font-size: 20px;
}
.silki{
  font-size: 13.8px;
  font-weight: 700;
  margin-right: auto;
  margin-left: auto;
}
nav{
  margin-bottom: -40px;
}
.infa{
  color: var(--color1);
}
.naviki{
  background-color: #f6f6f6;
}
.col-12 p{
  margin-top: 25px;
  font-weight: 700;
}
.color-bar{
  background: linear-gradient(to left,  var(--color1) 0%,var(--color2) 100%);
}
.rty{
  margin-bottom: 30px;
}
.tg{
  padding: 50px;
  border: 3px solid transparent;
  background: linear-gradient(#fff,#fff) padding-box, linear-gradient(to top right, var(--color1) 0%,var(--color2) 100%) border-box;
}
.textik{
  font-weight: 700;
}
.cont{
  margin: 10px 0;
  font-weight: 700;
}
